* {
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    display: flex;
    justify-content: center;
}

main{
    max-width: 500px;
}

p {
    max-width: 500px;
}

.fizzBuzzSequence{
    display: flex;
    flex-wrap: wrap;
    
}

.fizzBuzzItem {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid grey;
    margin-right: 5px;
    margin-bottom: 5px;
}

.fizz, .fizzbuzz {
    border: 4px solid green;
}

.buzz, .fizzbuzz {
    background-color: #D5F5E3;
}